<footer class="footer">
    <div class="footer__inner">
        <div class="footer__top">
            <div class="footer__section">
                <div class="footer__section-title">Why?</div>
                <p class="footer__section-item">
                    I have built this project because every time I made a website, I
                    had to either sign up for some emailing service or build a backend
                    for it. Well, now I do not have to do it anymore. Feel free to use
                    it for whatever you want. Cheers!
                </p>
            </div>
            <div class="footer__section">
                <div class="footer__section-title">
                    Others from me
                </div>
                <a target="_blank" rel="noreferrer" href="https://github.com/marinelcirstea/html-design-snippets" class="footer__section-item">HTML/CSS Snippets</a>
                <a target="_blank" rel="noreferrer" href="https://github.com/marinelcirstea/watchfreemovies" class="footer__section-item">Watch Movies for Free</a>
                <a target="_blank" rel="noreferrer" href="https://github.com/marinelcirstea/watchfreemovies" class="footer__section-item visibility-0">Watch Movies for Free</a>
                <a target="_blank" rel="noreferrer" href="https://github.com/marinelcirstea/watchfreemovies" class="footer__section-item visibility-0">Watch Movies for Free</a>
                <a target="_blank" rel="noreferrer" href="https://github.com/marinelcirstea/watchfreemovies" class="footer__section-item visibility-0">Watch Movies for Free</a>
            </div>
            <div class="footer__section">
                    <div class="footer__section-title">Find me</div>
                        <a href="https://linkedin.com/in/marinel-cirstea" rel="noreferrer" target="_blank" class="footer__section-item">LinkedIn</a>
                        <a href="https://github.com/marinelcirstea" rel="noreferrer" target="_blank" class="footer__section-item">GitHub</a>
                        <a href="https://codepen.io/marinelc" rel="noreferrer" target="_blank" class="footer__section-item">CodePen</a>
                        <a href="https://www.facebook.com/mainel.cirstea" rel="noreferrer" target="_blank" class="footer__section-item">FaceBook</a>
                        <a href="http://callmejohn.co.uk/" rel="noreferrer" target="_blank" class="footer__section-item">Web</a>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__copy">
                <p>Built by <a href="https://callmejohn.co.uk" class='footer__copy-link'>Marinel Cirstea</a></p>
            </div>
            
        </div>
    </div>
</footer>