<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <meta name="description" content="How to get started using JGIT - Just Get In Touch - API">
  <title>JGIT - Getting started</title>
  <!--  -->
  <link rel="stylesheet" href="./prism.css">
</head>
<body>
  <%- include('../partials/header'); %>
  
<div class="main">
    <%- md("index.md") %>
</div>

<%- include('../partials/footer.ejs') %> 
</body>
</html>